.CurrentMeeting {
  grid-area: current;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.IncomingMeetings {
  grid-area: incoming;
  display: grid;
  grid-column: 1;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(12, 22, 27, 0.5);
}

.IncomingMeetings > div {
  display: grid;
  justify-content: center;
  align-content: center;
}

.Paper {
  grid-area: calendar;
}

.MuiToolbar-root {
  background-color: #fc0;
}

.MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}
.MuiGridListTile-tile {
  display: flex !important;
  flex-direction: row !important;
}

.DataBox {
  padding-left: 2rem;
  min-height: 9vh;
  border-top: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.DataBox > p {
  text-transform: uppercase;
  margin-left: 2rem;
}

.line {
  border-top: 2px #fc0 solid;
  width: 100%;
  transform: translate(0, -1px);
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 80%;
  transform: translate(-50%, -50%);
  background: #fc0;
}

.spacing {
  width: 1vw;
}
.elapsedTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80vh 20vh;
    grid-template-areas:
      "current"
      "incoming";
  }

  .Paper {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 80vh 20vh;
    grid-template-areas:
      "current calendar"
      "incoming calendar";
  }
}
