body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
    margin-top: 0;
  }
}
